.container {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 $gutter;
	&--top-bottom-padding {
		padding: $gutter * 4 $gutter;
	}
	&--full {
		max-width: 100%;
		// padding: 0;
	}
	&--large {
		max-width: 1400px;
	}
	&--small {
		max-width: 990px;
	}
}

.row {
	display: flex;
	flex-flow: row wrap;
	margin-left: -$gutter;
	margin-right: -$gutter;
	&--align-start {
		align-items: flex-start;
	}
	&--align-center {
		align-items: center;
	}
	&--reverse {
		flex-flow: row-reverse wrap;
	}
}

.col {
	display: flex;
	flex-flow: row wrap;
	flex: auto;
	padding: 0 $gutter;
	&--1 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(8.33% - #{$gutter * 2});
		}
	}
	&--2 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(16.67% - #{$gutter * 2});
		}
	}
	&--3 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(25% - #{$gutter * 2});
		}
	}
	&--4 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(33.3% - #{$gutter * 2});
		}
	}
	&--5 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(41.67% - #{$gutter * 2 });
		}
	}
	&--6 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(50% - #{$gutter * 2});
		}
	}
	&--7 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(58.33% - #{$gutter * 2});
		}
	}
	&--8 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(66.67% - #{$gutter * 2});
		}
	}
	&--9 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(75% - #{$gutter * 2});
		}
	}
	&--10 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(83.33% - #{$gutter * 2});
		}
	}
	&--11 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(91.67% - #{$gutter * 2});
		}
	}
	&--12 {
		flex: 0 1 100%;
		@media screen and (min-width: $md-min) {
			flex: 1 0 calc(100% - #{$gutter * 2});
		}
	}
	&--justify-center {
		justify-content: center;
	}
	&--justify-right {
		justify-content: flex-end;
	}
	&--shrink {
		flex: 1;
	}
}