html,
body {
	padding: 0;
	margin: 0;
	font-family: $font-sans;
	line-height: $line-height;
	font-size: $font-size;
	color: $primary;
	letter-spacing: $letter-spacing;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin-top: 0;
	margin-bottom: $gutter*2;
	&:last-child {
		margin-bottom: 0;
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}