// *******************
// Colors
$black: black;
$white: #fff;
$yellow: #e5c30a;
$yellow-darker: #d2b100;
$red: #f08080;
$green: #5dcd19;
$green-darker: #274c2f;
// Grays
$gray-100: #efefef;
$gray-200: #d4d6dc;
$gray-300: #9da0ad;
$gray-500: #626262;
$gray-dark: #0A1131;
// Theme
$theme-black: #2e343b;
$primary: #0a1131;
$primary-light: #1e2441;
$primary-darker: $black;
$contrast: $green;

// *******************
// Font Styling
$font-size: 1rem;
$font-size-small: 0.9rem;
$font-size-large: 1.6rem;
$line-height: 1.6;
$letter-spacing: 0.25px;

// *******************
// Font Family
$font-sans: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-primary: $font-sans;
$font-secondary: $font-primary;

// *******************
// Spacing
$gutter: 0.9375rem; // 15px

// *******************
// Breakpoints
$lg-max: 992px;
$lg-min: $lg-max - 1;

$md-max: 768px;
$md-min: $md-max - 1;

$sm-max: 480px;
$sm-min: $sm-max - 1;

// *******************
// Buttons
$button-border-radius: 3px;
$button-font-family: $font-secondary;
$button-font-size: 1rem;
$button-transition: 300ms;
$button-padding: 15px 40px;
// Default Button
$button-default-background-color: $gray-100;
$button-default-background-color-hover: $gray-200;
$button-default-color: $primary;
// Primary Button
$button-primary-background-color: $primary;
$button-primary-background-color-hover: $contrast;
$button-primary-color: $white;

// *******************
// Blockquote
$blockquote-font-size-min: 1rem;
$blockquote-font-size: 1.8rem;