.content-block {
     padding: $gutter*10 0;

     &__content-body {
          margin: $gutter*4 0;
     }

     &--secondary {
          @extend %text--center;
          background-color: $primary-light;
          color: $white;
          .content-block {
               &__content {
                    margin: 0 auto;
                    max-width: 680px;
               }
               &__content-title {
                    @extend %text--lg;
               }
          }
     }

     &--with-image {
          @extend %text--white;
          background-color: $primary-light;
          padding: 0 $gutter;
          &:first-child {
               // padding-top: 50px;
          }
          &:last-child {
               // padding-bottom: $gutter*10;
          }
          .container {
               background-color: $primary;
               padding: $gutter*6 $gutter*4;
               .content-block {
               }
          }
     }
}