// Header
$header-container-padding-y: $gutter/2;
$header-font-size: $font-size;

// Nav Menu
$breakpoint: 768px;
$nav-padding: 15px;
$nav-btn-width: 40px;
$bar-height: 2px;
$bar-spacing: 7px;
$hamburger-color: $theme-black;
$hamburger-color-hover: $primary;
$nav-profile-image-size: 50px;

.header {
	background-color: transparent;
	padding: $gutter 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;

	&__brand {
		// padding: $header-container-padding-y 0;
		position: relative;
		// z-index: 999;
	}

	&__nav {
		display: flex;
		align-items: center;
		font-size: $font-size-small;
		ul {
			display: flex;
			flex-flow: row wrap;
			list-style: none;
			padding: 0;
			margin: 0;
			align-items: center;
		}
		li {
			flex: 0 1 100%;
			text-align: center;
			margin-bottom: $gutter/2;
			@media screen and (min-width: $breakpoint) {
				flex: auto;
				margin-right: 15px;
				margin-bottom: 0;
			}
			&:last-child {
				margin-right: 0;
				a {
					@extend %button, %button--primary;
				}
			}
		}

		//Mobile
		position: fixed;
		background-color: $white;
		width: 100vw;
		height: 100vh;
		top: -125%;
		left: 0;
		justify-content: center;
		transition: 500ms;
		@media screen and (min-width: $breakpoint) {
			position: relative;
			top: 0;
			background-color: transparent;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
		}

		&--active {
			top: 0;
			z-index: 998;
			~ .header__nav-btn-wrapper {
				z-index: 999;
			}
		}
	}

	&__nav-container {
		height: 100%;
		display: flex;
		align-items: center;
	}

	&__nav-link {
		color: $theme-black;
		padding: 5px 15px;
		text-decoration: none;
		position: relative;
		&:hover {
			color: $green;
		}
	}

	&__nav-link-btn {
		text-align: center;
		justify-content: center;
		margin: 5px;
	}

	&__nav-btn-wrapper {
		z-index: 2;
		display: flex;
		align-items: center;
		@media screen and (min-width: $breakpoint) {
			display: none;
		}
	}

	&__nav-btn {
		cursor: pointer;
		position: relative;
		background: none;
		border: none;
		width: $nav-btn-width;
		height: calc(#{$bar-spacing}* 2 + #{$bar-height}* 3);
		&:hover {
			.hamburger {
				// background: $hamburger-color-hover;
				&:after,
				&:before {
					background: $hamburger-color-hover;
				}
			}
		}
	}

	&__nav-profile {
		background: none;
		border: none;
		display: flex;
		align-items: center;
		padding: 0;
		outline: none;
		> svg {
			transition: 300ms;
			color: $red;
		}
	}

	&__nav-profile-image {
		margin-right: $gutter/2;
		img {
			border: $red solid 1px;
			border-radius: 50%;
			width: $nav-profile-image-size;
			height: $nav-profile-image-size;
			object-position: center;
			object-fit: cover;
		}
	}

	&__nav-settings {
		position: relative;
		border-top: $theme-black solid 1px;
		margin-top: $gutter;
		padding-top: $gutter;
		@media screen and (min-width: $breakpoint) {
			border-top: none;
			border-left: $theme-black solid 1px;
			margin-top: 0;
			padding-top: 0;
			padding-left: $gutter;
		}
		&--active {
			.header {
				&__nav-profile {
					> svg {
						transform-origin: center;
						transform: rotate(180deg);
					}
				}
				&__nav-link {
					padding: $gutter/2 $gutter * 2;
					display: inline-block;
					&:hover {
						color: $white;
					}
				}
				&__nav-settings-results {
					border-color: $theme-black;
					border-style: solid;
					border-width: 0 0 1px;
					@media screen and (min-width: $breakpoint) {
						border-width: 1px;
					}
					li {
						&:hover {
							background-color: $theme-black;
						}
					}
				}
			}
		}
	}

	&__nav-settings-btn {
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}

	&__nav-settings-results {
		display: none;
		top: 100%;
		z-index: 1;
		background-color: $gray-100;
		@media screen and (min-width: $breakpoint) {
			position: absolute;
			right: -$gutter;
		}
		&--active {
			display: block;
		}
		> ul {
			li {
				white-space: nowrap;
			}
		}
	}

	&__secondary {
		@media screen and (min-width: $breakpoint) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			height: 100%;
		}
	}
}

.initials {
	width: $nav-profile-image-size;
	height: $nav-profile-image-size;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background: $primary-darker;
	border-radius: 50%;
	color: $white;
	font-size: 150%;
	font-weight: bold;
	text-transform: uppercase;
}

.circle-notification {
	width: 15px;
	height: 15px;
	font-size: 13px;
	text-align: center;
	border-radius: 50%;
	background-color: $red;
	color:$white;
	position: absolute;
	top:0;
	right: 0;
}

.hamburger {
	position: relative;
	background: $hamburger-color;
	transition: all 0ms 300ms;
	height: $bar-height;
	width: 100%;
	&:after,
	&:before {
		width: 100%;
		height: $bar-height;
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: $bar-spacing;
		background: $hamburger-color;
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
			transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: $bar-spacing;
		background: $hamburger-color;
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
			transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&--active {
		background: transparent;
		&:after {
			top: 0;
			transform: rotate(45deg);
			transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
				transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		&:before {
			bottom: 0;
			transform: rotate(-45deg);
			transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
				transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
		}
	}
}
