.hero {
     min-height: 600px;
     padding-top: 76px; // eventually make this dynamic
     height: 100vh;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     position: relative;
     &__chalkboard {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url(../../assets/images/dotted.jpg);
          background-size: 25px;
          > * {
               position: absolute;
          }
     }
     &__content {
          position: relative;
          z-index: 1;
          padding: 0 $gutter;
          h2 {
               margin: 0;
          }
     }
     &__content-line {
          @extend %text--sm;
          overflow: hidden;
          &--main {
               @extend %text--xxl;
               margin: $gutter 0;
               line-height: 1;
               // font-size: clamp(3vw, 2.5vw, 6vw);
          }
          &--bottom {
               text-align: right;
          }
     }
     &__content-line-image {
          display: block;
          width: 100%;
          height: 6vw;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
     }
     &__tagline {
          width: 80%;
          overflow: hidden;
     }
     &__featured-image {
          position: relative;
          z-index: 1;
          width: 100%;
          &:after {
               content: '';
               background-color: $primary-light;
               position: absolute;
               bottom: 0;
               height: calc(50% + #{$gutter * 8}); 
               width: 100%;
               z-index: 0;
          }
          figure {
               margin: 0;
               padding-bottom: $gutter*8;
               z-index: 1;
               position: relative;
          }
     }

     // Secondary Hero
     &--secondary {
          height: auto;
          .hero {
               &__content {
                    padding: $gutter*8 0;
               }
               &__content-line {
                    &--main {
                         margin-bottom: $gutter*4;
                    }
                    &--bottom {
                         text-align: left;
                    }
               }
          }
          .flower {
               display: none;
          }
     }
}

.flower {
     background-image: url(../../assets/images/flower-text.png);
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     height: 0;
     padding-top: 35%;
     width: 100%;
     max-width: 500px;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
}