.project-teasers {
     margin-bottom: $gutter*4;
     @media screen and (min-width:$md-min) {
          width: 60vw;
     }

     &:first-child {
          .project-teasers__container {
               margin: 0 0 0 auto;
          }
     }
     &:nth-child(2){
          @media screen and (min-width:$md-min) {
               position: absolute;
               left: 0;
               top: 10vh;
               width: 40vw;
          }
     }
     &:last-child {
          text-align: center;
     }

     &__container {
          width: fit-content;
          margin: auto;
     }

     &__image {
          overflow: hidden;
          figure {
               margin: 0;
          }
     }
     &__title {
          text-align: left;
          * {
               margin: 0;
          }
     }
}