@keyframes pulse-circle {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba($gray-200, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba($gray-200, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba($gray-200, 0);
	}
}

@keyframes fill-shape {
	0% {
          transform: translateX(-100%);
     }
     50% {
          transform: translateX(0%);
     }
     100% {
          transform: translateX(-100%);
     }
}

@keyframes line-flow {
     0% {
          width: 50%;
     }
     50% {
          width: 100%;
     }
     100% {
          width: 50%;
     }
}