
%button,
.button {
     display: inline-flex;
     background-color: $button-default-background-color;
     border: none;
     border-radius: $button-border-radius;
     color: $button-default-color;
     cursor: pointer;
     font-family: $button-font-family;
     font-size: $button-font-size;
     justify-content: center;
     line-height: 1;
     padding: $button-padding;
     text-decoration: none;
     transition: $button-transition;
     &:hover {
          background-color: $button-default-background-color-hover;
          text-decoration: none;
     }
     &--primary {
          background-color: $button-primary-background-color;
          color: $button-primary-color;
          &:hover {
               background-color: $button-primary-background-color-hover;
          }
     }
}