$default-border-size: 2px;
$default-border-radius: 2px;

$arrow-size: 3vw;
$blob-size: 2vw;
$line-size: 2px;
$rect-size-width: 6vw;

// Extras
.filled {
     background-color: $gray-200;
}
.reversed {
     transform: scaleX(-1);
}


// Shapes

.arrow {
     &--with-circle {
          border-radius: 50%;
          border: $gray-200 solid $default-border-size;
          width: $arrow-size;
          height: $arrow-size;
          display: flex;
          justify-content: center;
          align-items: center;
     }
}

.blob {
     // background-color: transparent;
     border: $gray-200 solid $default-border-size;
	border-radius: 50%;
	box-shadow: 0 0 0 0 $gray-200;
	margin: 10px;
	height: $blob-size;
	width: $blob-size;
	transform: scale(1);
     &.animated {
          animation: pulse-circle 5s infinite;
     }
}

.line {
     // background-color: transparent;
     border-radius: $default-border-radius;
     width: 100%;
     max-width: 150px;
     height: $line-size;
     top: 54%;
     &::after {
          background-color: $gray-200;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
     }
     &.animated {
          &:after {
               animation: line-flow 10s infinite;
          }
     }
}

.rect {
     // background-color: transparent;
     border: $gray-200 solid 2px;
     border-radius: 5px;
     width: $rect-size-width;
     height: $rect-size-width/1.3;
     position: relative;
     &.animated {
          overflow: hidden;
          &:after {
               content: '';
               animation: fill-shape 12s infinite;
               animation-timing-function: linear;
               background-color: $gray-200;
               top: 0;
               left: 0;
               height: 100%;
               width: 100%;
               position: absolute;
          }
     }
}

.square {
     // background-color: transparent;
     border: $gray-200 solid 2px;
     border-radius: 5px;
     width: 4vw;
     height: 4vw;
}