%text,
.text {
     &--left {
          text-align: left;
     }
     &--center {
          text-align: center;
     }
     &--right {
          text-align: right;
     }
     &--white {
          color: $white;
     }
     &--gray-300 {
          color: $gray-300;
     }
     &--xs {
          font-size: 0.75rem; // 12px
     }
     &--sm {
          font-size: 1.25rem; // 20px
     }
     &--md {
          font-size: 1.75rem; // 28px
     }
     &--lg {
          font-size: 2rem; // 32px
     }
     &--xl {
          font-size: 2.5rem; // 40px
     }
     &--xxl {
          font-size: 3rem; // 48px
     }

}